.container{
    padding-bottom: 12vh;
    background-color: #c3d0d4;
}

.title{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divContainer{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* styles */
    background-color: #EBEFF3;
    /* border */
    border: 1px solid #91A4AE;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    display: flex;

}

.parraf{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    /* font */
    font-size: 1.3rem;
}

.img{
    width: 30rem;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}