.container {
    width: 100vw;
    height: 10vh;
    position:fixed;
    left:0px;
    bottom:0px;
    background-color: #244b6e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSize {
    width: 75px;
    height: 75px;
}