.itemContainer {
    width: 200px;
    height: 300px;
    margin: 1rem;
}

.itemBorder{
    border: 1px solid #91A4AE;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.bgItemContainer{
    background-color: #EBEFF3;
}
/* 
.bgFooter{
    background-color: #566D7A
}
*/